body {
  background-color: #f4f4f5;
  margin: 0;
  padding: 0;
}

.left-rounded {
    border-top-left-radius: 20px;  /* Sol üst köşe yuvarlama */
    border-bottom-left-radius: 20px; /* Sol alt köşe yuvarlama */
    border-top-right-radius: 0;     /* Sağ üst köşe köşeli */
    border-bottom-right-radius: 0;  /* Sağ alt köşe köşeli */
    margin-right: 2px; /* Sağda 2px boşluk */
    border: none;
    background-color: #4a1c97;
  }
  
  .right-rounded {
    border-top-left-radius: 0;      /* Sol üst köşe köşeli */
    border-bottom-left-radius: 0;   /* Sol alt köşe köşeli */
    border-top-right-radius: 20px;  /* Sağ üst köşe yuvarlama */
    border-bottom-right-radius: 20px; /* Sağ alt köşe yuvarlama */
    border: none;
    background-color: #e6e0eb;
    color: #4a1c97;
  }
  
  .choosing-a-round-trip-container {
    width: 100%; /* Tüm genişlikte olmasını sağlar */
  }
  
  /* Radio butonunu gizleyelim */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

/* Radio seçiliyse arka planı değiştir */
input[type="radio"]:checked {
  background-color: #4e1c98;
  border-color: #4e1c98;
}

/* Hover durumunda sınırı değiştirelim */
input[type="radio"]:hover {
  border-color: #4e1c98;
}

h5 {
  margin-bottom: 7px; /* İstenilen mesafe */
}

.flight-details-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.main-content {
  padding-top: 100px; /* Header ile içerik arasında boşluk bırakmak için */
}

.card {
  background-color: #f9f9f9;
}

.react-rater-star  {
  font-size: 40px; /* Yıldız boyutunu ayarlayın */
}

.rater .star {
  color: gold; /* Dolu yıldız rengi */
  ;
}

.rater .star.empty {
  color: lightgray; /* Boş yıldız rengi */
}

.btn-marg{
  margin-left: 15px;
}


